@charset "UTF-8";
@font-face {
  font-family: "MinervaMorden-Black";
  src: url("../font/minervamodern-black.ttf");
}
@font-face {
  font-family: "MinervaMorden-Bold";
  src: url("../font/minervamodern-bold.ttf");
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("../font/Pretendard-Bold.ttf");
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("../font/Pretendard-ExtraBold.ttf");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("../font/Pretendard-Regular.ttf");
}
:root {
  --grayScale-N1: #1d1611;
  --fontSize-subject: 48px;
  --fontSize-title: 36px;
}

canvas {
  display: block;
}

@keyframes stroke {
  0% {
    stroke-dashoffset: 20% 0%;
    stroke-dasharray: 0% 20%;
    fill: rgba(41, 41, 41, 0);
    stroke: #292929;
    stroke-width: 0.5;
  }
  40% {
    stroke-dashoffset: 10%;
    stroke-dasharray: 33%;
    fill: rgba(41, 41, 41, 0);
    stroke-width: 1;
  }
  60% {
    stroke-dashoffset: 0% 30%;
    stroke-dasharray: 50% 0%;
    fill: #292929;
    stroke: rgb(41, 41, 41);
    stroke-width: 0.5;
  }
  100% {
    fill: #292929;
    stroke: rgba(41, 41, 41, 0.5);
    stroke-width: 0.5;
  }
}
body {
  overflow-y: hidden;
}

.intro-section {
  height: 200vh;
  position: relative;
  overflow: hidden;
}
.intro-section .parallax-element {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
}
.intro-section .background {
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background-attachment: fixed;
  z-index: 1;
}
.intro-section .background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.intro-section .gister-UFO {
  top: 300px;
  right: 100%;
  width: 300px;
  height: 300px;
  z-index: 4;
  border-radius: 50%;
}
.intro-section .gister-UFO > img {
  display: block;
  width: 100%;
  height: 100%;
}
.intro-section .gistar-UFO {
  bottom: 800px;
  left: 100%;
  width: 200px;
  height: 200px;
  z-index: 3;
}
.intro-section .gistar-UFO > img {
  display: block;
  width: 100%;
  height: 100%;
}
.intro-section .title {
  position: fixed;
  font-family: "MinervaMorden-Black";
  color: white;
  text-align: center;
  width: 100%;
  height: auto;
  z-index: 2;
  top: 50%; /* 초기 위치 조정 */
  transform: scale(1) translateY(-50%);
}
.intro-section .title svg.logo {
  animation: stroke 5s 1 alternate;
  fill: #292929;
}
.intro-section .sub-title {
  display: block;
  position: absolute;
  bottom: 55%;
  right: 5%;
  font-size: 18px;
  opacity: 0;
  font-family: "Pretendard-Bold";
}
.intro-section .sub-title span {
  display: block;
  text-align: right;
}
.intro-section .sub-title.active {
  opacity: 1;
  animation: aps 0.5s 1 alternate;
}
.intro-section .sub-title.unactive {
  opacity: 0;
  animation: rps 0.5s 1 alternate;
}

@keyframes aps {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rps {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.intro-content {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 높이를 충분히 주어 스크롤 생성 */
  background-image: url(/img/intro-ufo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 80%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 3rem;
  color: #fff;
  z-index: 3;
}
.intro-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.3;
}
.intro-content p {
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  font-size: 36px;
}

.BM-section {
  position: absolute;
  width: 100%;
  height: 100vh;
  color: var(--grayScale-N1);
  border: 1px solid #f00;
}
.BM-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
  opacity: 0.05;
}
.BM-section > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fontSize-title);
  height: 15%;
  border: 1px solid #000;
  font-family: "Pretendard-Bold";
  text-align: center;
}
.BM-section > ul {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: space-around;
  height: 85%;
}
.BM-section > ul > li {
  display: flex;
  position: relative;
  flex-flow: row;
  align-items: center;
  font-family: "Pretendard-Bold";
  font-size: 24px;
  width: 25%;
  height: 30%;
  border: 1px solid #000;
}
.BM-section > ul > li > img {
  box-sizing: border-box;
  position: relative;
  border: 1px solid #00f;
  width: 50%;
  margin: 0 3%;
}
.BM-section > ul > li > span {
  text-wrap: nowrap;
}